

<template>
 
    <style>
  
      .page_form{
        display : flex;
        flex-direction: column;
      }
  
      .page_form > input, .page_form > textarea {
          margin-bottom: 15px;
      }
  

  
    </style>
  
    <div class="page_form" id="head">
        <label>Nome:</label>
        <input type="text" id="edtNome" maxlength="50">
        <label>CPF:</label>
        <input type="text" id="edtCPF" maxlength="14">
        <label>RG:</label>
        <input type="text" id="edtRG" maxlength="12">    
        <label>Telefone:</label>
        <input type="text" id="edtTelefone" maxlength="15">
        <label>Celular:</label>
        <input type="text" id="edtCelular" maxlength="15">
        <label>Email:</label>
        <input type="text" id="edtEmail" maxlength="50">        
        <label>Obs:</label>
        <textarea id="txtObs" rows="10"></textarea>
        <button id="btnSave">Salvar</button>
    </div>
  
    </template>
  
    <script>
        document.getElementById('btnSave').addEventListener('click',()=>{
            const nome = document.getElementById('edtNome');
            const cpf = document.getElementById('edtCPF');
            const rg = document.getElementById('edtRG');
            const email = document.getElementById('edtEmail');
            const telefone = document.getElementById('edtTelefone');
            const celular = document.getElementById('edtCelular');
            const obs = document.getElementById('txtObs');

            const params = new Object;
                params.nome = nome.value;
                params.CPF = cpf.value;
                params.RG = rg.value;
                params.morador = true;
                params.foto = null;
                params.email = email.value;
                params.tel = telefone.value;
                params.cel = celular.value;
                params.obs = obs.value;                

            const myPromisse = queryDB(params,5);            

            myPromisse.then((resolve)=>{         
                alert('Cadastro Salvo');
                nome.value = '';
                cpf.value = '';
                rg.value = '';
                email.value = '';
                telefone.value = '';
                celular.value = '';
                obs.value = '';
                nome.focus();
            });             

        })
 
  
  
    </script>    
  
</html>