

<template>
 
    <style>
  
        h2{
            width: 100%;
            text-align: center;
        }

      .page_form{
        display : flex;
        flex-direction: column;
      }
  
      .page_form > label, .page_form > button {
          margin-top: 15px;
      }
  
    </style>
  
    <div class="page_form" id="head">
        <h2>CADASTRO DE VISITANTES</h2>

        <label>Nome:</label>
        <input type="text" id="edtNome" maxlength="50">     
        <label>CPF:</label>
        <input type="text" id="edtCPF" maxlength="14">
        <label>RG:</label>
        <input type="text" id="edtRG" maxlength="12">    
        <label>Telefone:</label>
        <input type="text" id="edtTelefone" maxlength="15">
        <label>Celular:</label>
        <input type="text" id="edtCelular" maxlength="15">
        <label>Email:</label>        
        <input type="text" id="edtEmail" maxlength="50">
        <label>Foto</label>
        <button id="btnFoto">Tirar Foto</button>
        <input type="hidden" id="hdnFoto" value='' maxlength="5">        
        <label>Morador</label>
        <select id="cmbMorador"></select>
        <label>Obs:</label>
        <textarea id="txtObs" rows="10"></textarea>
        <button id="btnSave">Salvar</button>
    </div>
  
    </template>
  
    <script>

        loadCombo();
        document.getElementById('btnFoto').addEventListener('click',()=>{
            openHTML('foto.html','pop-up','TIRAR FOTO DO VISITANTE')

        })

        document.getElementById('btnSave').addEventListener('click',()=>{
            const nome = document.getElementById('edtNome');
            const rua = document.getElementById('cmbMorador');
            const num = document.getElementById('edtNum');
            const cpf = document.getElementById('edtCPF');
            const rg = document.getElementById('edtRG');
            const email = document.getElementById('edtEmail');
            const telefone = document.getElementById('edtTelefone');
            const celular = document.getElementById('edtCelular');
            const obs = document.getElementById('txtObs');

            const params = new Object;
                params.nome = nome.value;
                params.rua = rua.value;
                params.num = num.value;
                params.CPF = cpf.value;
                params.RG = rg.value;
                params.status = "MORADOR";
                params.foto = null;
                params.email = email.value;
                params.tel = telefone.value;
                params.cel = celular.value;
                params.obs = obs.value;                

            const myPromisse = queryDB(params,5);            

            myPromisse.then((resolve)=>{         
                alert('Cadastro Salvo');
                nome.value = '';
                num.value = '';
                cpf.value = '';
                rg.value = '';
                email.value = '';
                telefone.value = '';
                celular.value = '';
                obs.value = '';
                nome.focus();
            });             

        })
 
        function loadCombo(){

            const params = new Object;
                params.status = "MORADOR"

            const resp = queryDB(params,7);

            resp.then((resolve)=>{
                console.log(resolve)            
                const rua = document.getElementById('cmbMorador');                
                const rows =  JSON.parse(resolve);

                rua.innerHTML = '';
                for(let i=0; i<rows.length; i++){
                    const opt = document.createElement('option');
                    opt.innerHTML = rows[i].nome;
                    opt.value = [rows[i].rua,rows[i].num];
                    rua.appendChild(opt);
                }

            }); 
           
        }
  
    </script>    
  
</html>