

<template>
 
    <style>
  
        h2{
            width: 100%;
            text-align: center;
        }

      .page_form{
        display : flex;
        flex-direction: column;
      }
  
      .page_form > label, .page_form > button {
          margin-top: 15px;
      }
  
    </style>
  
    <div class="page_form" id="head">
        <h2>CADASTRO DE MORADORES</h2>

        <label>Nome:</label>
        <input type="text" id="edtNome" maxlength="50">     
        <label>CPF:</label>
        <input type="text" id="edtCPF" onkeyup="valCPF(this)" maxlength="14">
        <label>RG:</label>
        <input type="text" id="edtRG" onkeyup="valRG(this)" maxlength="12">    
        <label>Telefone:</label>
        <input type="text" id="edtTelefone" onkeyup="valTel(this)" maxlength="15">
        <label>Celular:</label>
        <input type="text" id="edtCelular" onkeyup="valTel(this)" maxlength="15">
        <label>Email:</label>
        <input type="text" id="edtEmail" maxlength="50">
        <label>Rua</label>
        <select id="cmbRuas"></select>
        <label>Número:</label>
        <input type="text" id="edtNum" onkeyup="onlyNum(this,0)" maxlength="5">        
        <label>Obs:</label>
        <textarea id="txtObs" rows="10"></textarea>
        <button id="btnSave">Salvar</button>
    </div>
  
    </template>
  
    <script>

        loadRuas();

        document.getElementById('btnSave').addEventListener('click',()=>{
            const nome = document.getElementById('edtNome');
            const cmbRuas = document.getElementById('cmbRuas');
            const num = document.getElementById('edtNum');
            const cpf = document.getElementById('edtCPF');
            const rg = document.getElementById('edtRG');
            const email = document.getElementById('edtEmail');
            const telefone = document.getElementById('edtTelefone');
            const celular = document.getElementById('edtCelular');
            const obs = document.getElementById('txtObs');

            const params = new Object;
                params.nome = nome.value;
                params.rua = cmbRuas.options[cmbRuas.selectedIndex].text
                params.num = num.value;
                params.CPF = cpf.value;
                params.RG = rg.value;
                params.status = "MORADOR";
                params.foto = null;
                params.email = email.value;
                params.tel = telefone.value;
                params.cel = celular.value;
                params.obs = obs.value;                

            const myPromisse = queryDB(params,5);            

            myPromisse.then((resolve)=>{         
                alert('Cadastro Salvo');
                nome.value = '';
                num.value = '';
                cpf.value = '';
                rg.value = '';
                email.value = '';
                telefone.value = '';
                celular.value = '';
                obs.value = '';
                nome.focus();
            });             

        })
 
        function loadRuas(){

            const params = new Object;
            const resp = queryDB(params,8);

            resp.then((resolve)=>{
                cmbRuas.innerHTML = '';
                const rows = JSON.parse(resolve)
                for(let i=0; i<rows.length; i++){
                    const opt = document.createElement('option');
                        opt.innerHTML = rows[i].nome;
                        opt.value = rows[i].id;
                    cmbRuas.appendChild(opt);
                }
            }); 

        }
  
    </script>    
  
</html>