<template>

    <style>
  
        h2{
            width: 100%;
            text-align: center;
        }

        .page_form{
            display : flex;
            flex-direction: column;
        }
    
        .page_form > label, .page_form > button, .page_form > input {
            margin-top: 15px;
        }
  
    </style>

    <div class="page_form" id="head">
        <h2>CONFIGURAÇÕES</h2>

        <label> Ruas do Condomínio</label>
        <select id="cmbRuas" size="5"></select>
        <input type="text" id="edtRua">
        <button id="btnRua">Adicionar</button>

    </div>



</template>

<script>
    const cmbRuas = document.getElementById('cmbRuas');
    const edtNomeRuas = document.getElementById('edtRua');
    const btnAddRuas = document.getElementById('btnRua');

    loadRuas();

    btnAddRuas.addEventListener('click',()=>{

        const params = new Object;
            params.nome = edtNomeRuas.value;

        const resp = queryDB(params,9);

        resp.then((resolve)=>{
            loadRuas();
        }); 

    })

    cmbRuas.addEventListener('dblclick',()=>{

        if (confirm('Deseja deletar este rua?')) {
//            alert(cmbRuas.options[cmbRuas.selectedIndex].text)

            const params = new Object;
            params.id = cmbRuas.value;

            const resp = queryDB(params,10);
            resp.then((resolve)=>{
                loadRuas();
            }); 

        }

    })

    function loadRuas(){

        const params = new Object;
        const resp = queryDB(params,8);

        resp.then((resolve)=>{
            cmbRuas.innerHTML = '';
            const rows = JSON.parse(resolve)
            for(let i=0; i<rows.length; i++){
                const opt = document.createElement('option');
                    opt.innerHTML = rows[i].nome;
                    opt.value = rows[i].id;
                cmbRuas.appendChild(opt);
                edtNomeRuas.value = '';
                cmbRuas.focus();
            }
        }); 

    }


</script>