<template>

    <style>

        .page_form{
            padding: 20px;
        }

        .page_form > *{
            display : flex;
            flex-direction: column;
            width: 100%;
        }
    
        .page_form > label, .page_form > button, .page_form > input {
            margin-top: 15px;
        }
  
    </style>

    <h2>CONFIGURAÇÕES</h2>


    <div class="tab-bar">
        <div id="tab-0" > Ruas</div>
        <div id="tab-1" >Câmeras</div>
    </div>

    <div class="tab-screen">        
        <div class="page_form tab sub-tab-0">
            <label> Ruas do Condomínio</label>
            <select id="cmbRuas" size="5"></select>
            <input type="text" id="edtRua">
            <button id="btnRua">Adicionar</button>
        </div>
        <div class="page_form tab sub-tab-1">
            <p>Aqui podemos colocar outras abas, como cadastro de novos usuarios do sistema, configuração das câmeras de video e outras configurações gerais</p>
        </div>

    </div>



</template>

<script>
    const cmbRuas = document.getElementById('cmbRuas');
    const edtNomeRuas = document.getElementById('edtRua');
    const btnAddRuas = document.getElementById('btnRua');

    loadRuas();
    startTabs("tab-0");

    btnAddRuas.addEventListener('click',()=>{

        const params = new Object;
            params.nome = edtNomeRuas.value;

        const resp = queryDB(params,9);

        resp.then((resolve)=>{
            loadRuas();
        }); 

    })

    cmbRuas.addEventListener('dblclick',()=>{

        if (confirm('Deseja deletar este rua?')) {
//            alert(cmbRuas.options[cmbRuas.selectedIndex].text)

            const params = new Object;
            params.id = cmbRuas.value;

            const resp = queryDB(params,10);
            resp.then((resolve)=>{
                loadRuas();
            }); 

        }

    })

    function loadRuas(){

        const params = new Object;
        const resp = queryDB(params,8);

        resp.then((resolve)=>{
            cmbRuas.innerHTML = '';
            const rows = JSON.parse(resolve)
            for(let i=0; i<rows.length; i++){
                const opt = document.createElement('option');
                    opt.innerHTML = rows[i].nome;
                    opt.value = rows[i].id;
                cmbRuas.appendChild(opt);
                edtNomeRuas.value = '';
                cmbRuas.focus();
            }
        }); 

    }


</script>