<template>
    <style>

      .frm-foto{
        display : flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }

      .frm-foto > button{
        width: 100%;
        padding: 10px;
      }


    </style>

      <div class="frm-foto">
        <video id="webcam" autoplay playsinline width="320" height="240"></video>
        <button id="btnTakePic" >Tirar Foto</button>
      </div>



</template>

<script>
  
  const webcamElement = document.getElementById('webcam');
  const canvasElement = document.getElementById('canvas');
  const snapSoundElement = document.getElementById('snapSound');
  const webcam = new Webcam(webcamElement, 'user', canvasElement, snapSoundElement);
  const btnTakePic = document.getElementById('btnTakePic');

  webcam.start();

  btnTakePic.addEventListener('click',()=>{
    let picture = webcam.snap();
    closeModal.click();
    webcam.stop();
/*    
    const resp = upImage(canvasElement);


    resp.then((resolve)=>{
      console.log(resolve.status);
      if(resolve.status === 200){
        webcam.stop();
        closeModal.click();
      }
    })
*/
  })

</script>