<template>
 
    <style>
  
        .pesq-pessoas{
            display : grid;
            grid-template-columns: 1fr 5fr 2fr;
            grid-template-rows: 50px;
            gap: 5px;
        }
 
        .pesq-pessoas > *{
            padding: 10px;
        }

        #btnBuscaMor, #btnBuscaVis{
            margin-top: 0;
            height: 100%;
            width: 100%;
        }

        #lblMorador, #lblVisitante{
            height: 100%;
            width: 100%;
            background-color: rgb(196, 138, 134);
            font-size: 2em;
            font-weight: 500;
            padding: 10px;
        }


        #frm-pesq-pessoas{
            height: 90%;
        }

        #tbl-pesq-pessoas{
            width: 100%;
            font-size: 30px;     
        }

        #frm-acesso{
            display: flex;
            flex-direction: column;             
        }

        #frm-acesso > *{
            margin: 3px;
            padding: 10px;
        }

    </style>

    <h2>Acessos - Entrada/Saída</h2>

    <div class="frm-border pesq-pessoas">
        <label>Morador:</label>
        <label id="lblMorador"></label>
        <button  id="btnBuscaMor">Busca</button>
        <input type="hidden" id="hdnIdMor">

    </div>
    <div class="frm-border pesq-pessoas">
        <label>Visitante:</label>
        <label id="lblVisitante"></label>
        <button  id="btnBuscaVis">Busca</button>
        <input type="hidden" id="hdnIdVis">
    </div>
    <div class="frm-border" id="frm-acesso" >
        <label>Sentido</label>
        <select id="cmbSentido">
            <option value="ENTRADA">ENTRADA</option>
            <option value="SAIDA">SAÍDA</option>
        </select>
        <label>Data e Hora:</label>
        <input id="edtData" type="date">
        <input id="edtHora" type="time">
        <button  id="btnSalva">Salvar</button>
    </div>

</template>

<script>

    const date = today.getFullYear()+"-"+today.getMonth().toString().padStart(2, '0')+"-"+today.getDate();
    const time = today.getHours()+":"+today.getMinutes().toString().padStart(2, '0')
    document.getElementById('edtData').value = date
    document.getElementById('edtHora').value = time


    document.getElementById('btnBuscaMor').addEventListener('click',()=>{
        openHTML("tab_pessoas.html",'pop-up', "Consulta Morador", "MORADOR");
    })

    document.getElementById('btnBuscaVis').addEventListener('click',()=>{
        openHTML("tab_pessoas.html",'pop-up', "Consulta Visitante", "VISITANTE");
    })

    document.getElementById('btnSalva').addEventListener('click',()=>{
        const idMor = document.getElementById('hdnIdMor').value;
        const idVis = document.getElementById('hdnIdVis').value;
        const data = document.getElementById('edtData').value +" " + document.getElementById('edtHora').value+":00" ;

        const params = new Object;
            params.id_morad = idMor;
            params.id_visit = idVis;
        if(document.getElementById('cmbSentido').value == "ENTRADA"){
            params.ent = data;
        }else{
            params.sai = data;
        }

        const myPromisse = queryDB(params,14);  
        myPromisse.then((resolve)=>{         
            alert('Cadastro Salvo');
            openHTML("acessos.html",'self');
        }); 

    })


</script>