<template>
    <style>

        textarea{
            padding: 15px;
            border: solid 5px rgb(95, 95, 253);
            border-radius: 10px;
            font-family: 'Raleway';
            font-size: 15px;
        }

        button{
            padding: 10px;
            border: solid 5px rgb(95, 95, 253);
            border-radius: 10px;
            background-color: rgb(160, 157, 157,0);
            cursor: pointer;
            margin-top: 10px;
        }

        button:hover{
            border: solid 5px rgb(8, 8, 250);
        }

        .form-modal {
            display: flex;
            flex-direction: column;
        }


    </style>
    <div class='form-modal'>
        <textarea rows = '20' id='txtSchedule' > </textarea>
        <button id="btnSalvar" >Salvar</button>
      </div> 

</template>

<script>


//    console.log(modal_title.innerHTML)

    const id = modal_title.innerHTML.substring(15,21).trim();
    const txt = document.getElementById(id).innerHTML.split('<br>')[1];
    if(txt != undefined){
        document.getElementById('txtSchedule').value = txt;
    }
    

    document.getElementById('btnSalvar').addEventListener('click',()=>{
        function correctDate(){
            return modal_title.innerHTML.substring(22,26).trim()+
            "-"+modal_title.innerHTML.substring(19,21).trim()+
            "-"+modal_title.innerHTML.substring(15,18).trim()
        }

        const text = document.getElementById('txtSchedule').value;

//        console.log(text.trim())

        let cod = 3;
        let color = "#f8f693"; 
        if(text.trim() == ''){
            cod = 4;
            color = "#F0F0F0"; 
        }

        const params = new Object;
            params.id_user = localStorage.getItem("id");
            params.dt_schedule = correctDate();
            params.txt = text;

        const resp = queryDB(params,cod);

//        console.log(resp)

        resp.then((resolve)=>{
//            console.log(id)            
            document.getElementById(id).innerHTML = id+"<br>"+text;
            document.getElementById(id).style.background = color;
            modal.style.display = "none";

        }); 


    })

    function Save(D){
        
        function correctDate(D){
          return String(D.getFullYear()).padStart(4, '0') + '-' + String(D.getMonth() + 1).padStart(2, '0') + '-' + String(D.getDate()).padStart(2, '0') +' 00:00:00'
        }
        const txtDia = document.getElementById('txtSchedule');
  
        let query = `INSERT INTO tb_calendario (id_user, data_agd, obs) VALUES(${user_id}, '${D}', '${txtDia.value}')
           ON DUPLICATE KEY UPDATE   obs='${txtDia.value}'; `;
  
        if(txtDia.value.trim() == ''){
          query = `DELETE FROM tb_calendario WHERE id_user=${user_id} AND data_agd='${D}' ; `;
        }
          
  //      console.log(query);
  
          const data = new URLSearchParams();        
          data.append("query", query);
  
          const myRequest = new Request('ajax/ajax.php',{
              method: 'POST',
              body: data
          });
  
          const myPromisse = new Promise((resolve,reject) =>{
      
              fetch(myRequest)
              .then(function (response){
  
                  if (response.status === 200) { 
  //                    resolve(response.text());
                    document.querySelector('.overlay').style = ' visibility : hidden; opacity : 0;';
                    location.reload();
  
                  } else { 
                      reject(new Error("Houve algum erro na comunicação com o servidor"));
                  } 
              });
  
          });
  
  
  //        fetch(myRequest)
       
      }


</script>