<template>
 
    <style>
          .grid-pessoas{
            display : grid;
            grid-template-areas:
            ".        lbl-nome lbl-nome"
            "cnv-foto edt-nome edt-nome"
            "cnv-foto lbl-cpf lbl-rg"
            "cnv-foto edt-cpf edt-rg"
            "cnv-foto lbl-tel lbl-cel"
            "cnv-foto edt-tel edt-cel"
            "cnv-foto lbl-email lbl-email"
            "cnv-foto edt-email edt-email"
            "cnv-foto lbl-rua lbl-rua"
            "cnv-foto cmb-rua cmb-rua"
            "cnv-foto lbl-num lbl-num"
            "btn-foto edt-num edt-num"
            "lbl-obs lbl-obs lbl-obs"
            "txt-obs txt-obs txt-obs"
            ".       btn-save btn-del";           
            gap: 5px;
        }
  
        .grid-pessoas > input[type=text], .grid-pessoas > textarea{
            padding: 5px;
        }

        .grid-pessoas > canvas, .grid-pessoas > video{
            height: 100%;
            width: 100%;
        }

        #edtNum{
            margin: 15px 0;
        }

        #cmbRuas{
            padding: 7px 0;
        }

    </style>

    <div class="frm-border grid-pessoas">
        <label style="grid-area: lbl-nome;">Nome: *</label>
        <input style="grid-area: edt-nome;" type="text" id="edtNome" maxlength="50">     
        <label style="grid-area: lbl-cpf;">CPF:</label>
        <input style="grid-area: edt-cpf;" type="text" id="edtCPF" onkeyup="valCPF(this)" maxlength="14">
        <label style="grid-area: lbl-rg;">RG:</label>
        <input style="grid-area: edt-rg;" type="text" id="edtRG" onkeyup="valRG(this)" maxlength="12">    
        <label style="grid-area: lbl-tel;">Telefone:</label>
        <input style="grid-area: edt-tel;" type="text" id="edtTelefone" onkeyup="valTel(this)" maxlength="15">
        <label style="grid-area: lbl-cel;">Celular:</label>
        <input style="grid-area: edt-cel;" type="text" id="edtCelular" onkeyup="valTel(this)" maxlength="15">
        <label style="grid-area: lbl-email;">Email:</label>        
        <input style="grid-area: edt-email;" type="text" id="edtEmail" maxlength="50">
        <canvas style="grid-area: cnv-foto;" id="canvas" class="d-none"></canvas>
        <video style="grid-area: cnv-foto;" id="webcam" autoplay ></video>        
        <button style="grid-area: btn-foto;" id="btnFoto">Nova Foto</button>
        <input type="hidden" id="hdnFoto">
        <label style="grid-area: lbl-rua;" id="lbl-rua">Rua</label>
        <select style="grid-area: cmb-rua;" id="cmbRuas"></select>
        <select style="grid-area: cmb-rua;" id="cmbMorador"></select>
        <label style="grid-area: lbl-num;" id="lbl-num">Número:</label>
        <input style="grid-area: edt-num;" type="text" id="edtNum" onkeyup="onlyNum(this,0)" maxlength="5">    
        <label style="grid-area: lbl-obs;">Obs:</label>
        <textarea style="grid-area: txt-obs;" id="txtObs" rows="10"></textarea>
        <button style="grid-area: btn-save;" id="btnSave">Salvar</button>
        <button style="grid-area: btn-del;" id="btnDel">Deletar</button>        
    </div>

</template>

<script>        

//    const perm = JSON.parse(localStorage.getItem("perm"));


    const data = modal_data.value.split("|");
    const id = data[0];
    const status = data[6];
    const nome = document.getElementById('edtNome');
    const rua = document.getElementById('cmbRuas');
    const morador = document.getElementById('cmbMorador');
    const num = document.getElementById('edtNum');
    const cpf = document.getElementById('edtCPF');
    const rg = document.getElementById('edtRG');
    const email = document.getElementById('edtEmail');
    const tel = document.getElementById('edtTelefone');
    const cel = document.getElementById('edtCelular');
    const obs = document.getElementById('txtObs');
    const foto = document.getElementById('hdnFoto');
    const btnSave = document.getElementById('btnSave');
    const btnDel = document.getElementById('btnDel');
    const btnFoto = document.getElementById('btnFoto');

    const webcamElement = document.getElementById('webcam');
    const snapSoundElement = document.getElementById('snapSound');
    const canvasElement = document.getElementById('canvas');    
    const webcam = new Webcam(webcamElement, 'user', canvasElement, snapSoundElement);

    blockFields(true);

    prepara();

    nome.value = data[1];
    num.value = data[3];
    cpf.value = data[4];
    rg.value = data[5];
    foto.value = data[7];
    email.value = data[8];
    tel.value = data[9];
    cel.value = data[10]; 
    obs.value = data[11];

    if(foto.value == ""){
        foto.value = id;
    }
    clearCanvas(canvasElement)
    loadImage(canvasElement,foto.value);
    
    btnSave.addEventListener('click',()=>{
        if(btnSave.innerHTML === "Editar"){
            blockFields(false);
        }else{
            if(valCampos([nome])){
                if(hasFoto(canvasElement)){
                    upImage(canvasElement,foto.value);
                }      
                const params = new Object;
                params.nome = nome.value;
                params.rua = rua.value;
                params.num = num.value;
                params.CPF = cpf.value;
                params.RG = rg.value;
                params.foto = foto.value;
                params.email = email.value;
                params.tel = tel.value;
                params.cel = cel.value;
                params.obs = obs.value;
                params.id = id;  

                if(status.trim() === "VISITANTE"){
                    const end = document.getElementById('cmbMorador').value.split(',');
                    params.rua = end[1];
                    params.num = end[0];
                }else if(status.trim() === "FUNCIONÀRIO"){
                    params.rua = "PORTARIA";
                    params.num = '0';                    
                }


                const myPromisse = queryDB(params,12);            

                myPromisse.then((resolve)=>{         
                    alert('Cadastro Salvo');
                    blockFields(true);
                    document.getElementById('btnBusca').click();
                })


            }

        


        }
    })

    btnDel.addEventListener('click',()=>{

        if (confirm('Deseja deletar este registro?')) {
            const params = new Object;
                params.id = id;

            queryDB(params,13);
            document.getElementById('btnBusca').click();
            closeModal.click();
            }
    })

    btnFoto.addEventListener('click',()=>{
        if(btnFoto.innerHTML == "Nova Foto"){
            btnFoto.innerHTML = "OK";
            document.getElementById('webcam').style.display = "block";
            webcam.start();
        }else{
            webcam.snap();
            btnFoto.innerHTML = "Nova Foto";
            document.getElementById('webcam').style.display = "none";
            webcam.stop();
            upImage(canvasElement,foto.value);
        }
    })

    function prepara(){
        const perm = localStorage.getItem("class");

        if(status.trim() === "MORADOR"){
            document.getElementById('lbl-rua').innerHTML = "Rua";
            document.getElementById('lbl-num').style.display = "block";
            rua.style.display = "block";
            num.style.display = "block";
            morador.style.display = "none";
            loadRuas();
        }else if(status.trim() === "VISITANTE"){
            document.getElementById('lbl-rua').innerHTML = "Morador";
            document.getElementById('lbl-num').style.display = "none";
            rua.style.display = "none";
            num.style.display = "none";
            morador.display = "block";
            loadMorador();
        }else if(status.trim() === "FUNCIONÀRIO"){
            document.getElementById('lbl-rua').innerHTML = "";
            document.getElementById('lbl-num').style.display = "none";
            rua.style.display = "none";
            num.style.display = "none";
            morador.style.display = "none";
        }

    }

    function blockFields(on_off){
        const perm = localStorage.getItem("class");
        const x = document.querySelector(".grid-pessoas").childNodes;
        for (let i = 0; i < x.length; i++) {
            x[i].disabled = on_off;            
        }

        if(perm == "10" || status.trim() === "VISITANTE"){
            document.getElementById('btnSave').disabled = false;
            if(on_off){
                document.getElementById('btnSave').innerHTML = 'Editar';
            }else{
                document.getElementById('btnSave').innerHTML = 'Salvar';
            }
        }
    }

    function loadRuas(){
        const params = new Object;
        const resp = queryDB(params,8);
        resp.then((resolve)=>{
            cmbRuas.innerHTML = '';
            const rows = JSON.parse(resolve)
            for(let i=0; i<rows.length; i++){
                const opt = document.createElement('option');
                    opt.innerHTML = rows[i].nome;
                    opt.value = rows[i].id;
                if(data[2] == rows[i].nome){
                    opt.selected = true;
                }
                cmbRuas.appendChild(opt);
            }
        }); 
    }

 
    function loadMorador(){
        const params = new Object;
            params.status = "MORADOR"
        const resp = queryDB(params,7);
        resp.then((resolve)=>{        
            const rua = document.getElementById('cmbMorador');                
            const rows =  JSON.parse(resolve);
            rua.innerHTML = '';
            for(let i=0; i<rows.length; i++){
                const opt = document.createElement('option');
                opt.innerHTML = rows[i].nome;
                opt.value = [rows[i].num,rows[i].rua];
                if(data[2] == rows[i].rua && data[3] == rows[i].num){
                    opt.selected = true;
                }                
                rua.appendChild(opt);
            }

        }); 
    }

</script>    